@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin 0;
    padding 0;
}

body {
    background-color: #87A2C5;
    color: #fcfcfc;
}

nave {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nave ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 40%;
}


nave a{
    color: #040B58;
    font-weight: 600;
    text-decoration: none;
    font-size: 32px;
}
nave a:hover{
    color: #6182DF;
    transition: 1s;
}

#SobreMim {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Sobre {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}
.Resumo {
    width: 50%;
    text-align: justify;
}

.Foto{
    width: 30%;
    height: 30%;
    border: 2px solid #fcfcfc;
    border-radius: 60% ;
    margin: 0 auto;
}
.Center{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.rede{
    width: 30px;
    height: 30px;
    padding: 30px;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.tamanho{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.margem{
    margin-left: 50px;
}

.margem foter{
    margin-bottom: 50px;
}